/* Page-level */
html {
    height: 100%;
}
body {
    background: #2f2f2f;
    margin:0 auto; 
    padding:0px; 
    font: 13px/18px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    min-width:1100px;
    height:100%;
}
@font-face {
    font-family: nevisBold;
    src: url("../fonts/nevis.eot"); /* EOT file for IE */
}
@font-face {
    font-family: nevisBold;
    src: url("../fonts/nevis.ttf");
}
h1, h2, h3 {
    font-family:nevisBold;
    font-weight:lighter;
}
p { font-size: 13px; }
a:link {color:#2d81d5; text-decoration: none;}
a:visited {color:#2d81d5;} 
a:hover{color:#ff6a57;text-decoration: underline;} 
a:active {color:#ff6a57; font-weight:bold;}

div{background:none;}
/* Note: Make HTML 5 elements block-level for consistent styling */
header, nav, section, article, hgroup, footer, address { display:block; }

/* container holding the elements: header, nav and #content */
#container{
    position:relative;
    width:100%;
    margin:0;
    padding:0;
}
#backgroundImage {
    width:100%;
    height:100%;
}

/* navigation menu */
#menuToggle, #contentToggle {
    float:right;
    height:10px;
    cursor:pointer;
    clear:both;
}
#menuToggle {
    margin:5px 5px 0 0;
}
#contentToggle {
    margin:-3px -2px 0 0;
}
nav {
    position:absolute;
    top:0px;
    left:50px;
    background:none;
    width:130px;
    margin:0;
    clear:both;
    text-align:left;
    min-height: 360px;
    line-height: 35px;
    z-index:10;
    }
    nav table {
        border:0px;
        border-spacing:0;
    }
    nav .logo-fill {
        background:#fff;
        height:30px;
        text-align:right;
        vertical-align:top;
    }
    nav .fill-middle {
        width:17px;
    }
    nav #logo {
        background: url("../img/logo.png") no-repeat;
        background-size:100px 70px;
        height:68px;
        width:119px;
    }
    nav #menu {
        background:#fff;
        padding:10px 10px 20px 10px;
    }
    nav a {
        display: block;
        text-decoration: none;
        font-size: 12px;
        font-family: Arial, Tahoma, sans-serif;
        font-weight:lighter;
    }
    nav a:link {color:#0c0c0c;}
    nav a:visited {color:#0c0c0c;}
    nav a:hover {color:#000; text-decoration: none; font-weight:bold;}
    nav a:active {color:#000; font-weight:bold;}
    nav a.active-link {color:#000; font-weight:bold;}
    nav ul { 
        white-space:nowrap;
        list-style-type:none;
        margin:0px;
        padding:0px; 
        } 
        nav ul li { 
            width:13%; 
            height:20px;
            line-height:20px;
            }
        nav ul li:last-child {
            border-right:0px;
        }

/* content */
#content{
    display:none;
    position:absolute;
    top:120px;
    left:200px;
    background:#fff;
    min-height: 200px;
    width:500px; 
    padding:10px;
    z-index:9;
}
#content h1{
    margin:50px 0 30px 0;
    font-size:45px;
    font-weight:bold;
}

/* footer */
footer{
    display:none;
    clear:both;
    position:relative;
    bottom:0;
    left:50%;
    width:600px;
    margin-left:-300px;
    text-align:center;
    font: 10px "lucida grande";
    color: #505050;
    padding-bottom:10px;
}
footer a {
    text-decoration:none;
    font: 10px "lucida grande";
    color: #505050;
}
footer a:link {color:#505050;}
footer a:visited {color:#505050;}
footer a:hover {color:#ff6a57;}
footer a:active {color:#ff6a57;}


/* Pagination */
.paginate {
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}

a.paginate {
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    border-left: 1px solid #DEDEDE;
    padding: 1px 6px;
    color: #005fad;
}
a.paginate:last-child{
    border-right: 1px solid #DEDEDE;
}

a.current {
    border-left: 1px solid #DEDEDE;
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    padding: 2px 6px 2px 6px;
    cursor: default;
    color: #000;
    font-weight:700;
    text-decoration: none;
}
a.current:last-child{
    border-right: 1px solid #DEDEDE;
}

span.inactive {
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    padding: 1px 6px;
    color: #005fad;
    cursor: default;
}

/* Slideshow */
#slideshow{
    position:absolute;
    top:0px;
    left:0px;
    z-index:8;
    margin:0;
    width:100%;
    height:100%;
    min-height:300px;
}

#slideshow ul{
    position:absolute;
    top:0px;
    left:0px;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    list-style:none outside none;
    overflow:hidden;
}

#slideshow li{
    position:absolute;
    display:none;
    z-index:10;
}

#slideshow li:first-child{
    display:block;
    z-index:1000;
}

#slideshow .slideActive{
    z-index:1000;
}

#slideshow canvas{
    display:none;
    position:absolute;
    z-index:100;
}

#slideshow .arrow{
    height:86px;
    width:60px;
    position:absolute;
    background: url('../img/icons/arrows.png') no-repeat;
    top:50%;
    margin-top:-43px;
    cursor:pointer;
    z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}