/* Page-level */
body {
    background:#fff;
    margin:0 0 30px 0;
    padding:0;
    min-width: 900px;
    color:#2f2f2f;
    font: 12px/18px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}
a{
    color:#08C;
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}

/* Menu */
#MenuContainer{
    height:40px;
}
#Menu {
    position:fixed;
    top:0;
    -moz-box-shadow: 0 0 4px 5px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 4px 5px rgba(0,0,0,.2);
    box-shadow: 0px 4px 5px rgba(0,0,0,.2);
    background:#566058;
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#566058), to(#384048));
    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #566058, #384048);
    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#566058, endColorstr=#384048);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#566058, endColorstr=#384048)";
    height:40px;
    line-height:34px;
    width:100%;
    z-index:10;
}
#Menu a{
    color:#fff;
    text-decoration: none;
}

#MenuTitle {
    border:0px;
    float:left;
    margin:4px 0 0 20px;
    width:100px;
}

#MenuAnchorList {
    list-style:none;
    float:left;
    margin:0;
}
#MenuAnchorList li{
    list-style:none;
    float:left;
    margin:5px 15px 0 0;
}
#MenuAnchorList li:last-child{
    margin-right:0;
}
#MenuAnchorList a{
    font: 13px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}

/* quickbar */
#MenuRightSide{
    float:right;
    margin:14px 15px 0 0;
    color:#fff;
    font: 13px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}
#MenuRightSide ul, li{
    margin:0;
    padding:0; 
    list-style:none;
}
#MenuRightSide ul{
    width:130px;
    margin-left:-93px;
}
#MenuQuickBarHeader{
    cursor:pointer;
    height:18px;
    margin-right:30px;
}
#MenuQuickBarHeader a{
    font-weight:bold;
}
#MenuQuickBarHeader img{
    float:right;
    width:12px;
    margin:0 5px 0 0;
    padding:2px 0 0 0;
}
#MenuQuickBar{
    position:absolute;
}
#MenuQuickBar li a{
    color:#21759B;
    font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
#MenuQuickBar li a:hover{
    color:#D54E21;
}
#MenuQuickBar input{
    outline:none;
    border:none;
    background:none;
    padding:0;
    margin:0;
    cursor:pointer;
    color:#21759B;
    font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
#MenuQuickBar input:hover{
    color:#D54E21;
}
.menu_body li.alt{
    background:#fff;
}
.menu_body {
    display:none;
    width:152px;
}
.gbma{
    position: relative;
    top: -1px;
    border-style: solid dashed dashed;
    border-color: transparent;
    border-top-color: silver;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    border-width: 4px 4px 0;
    padding-top: 1px;
    left: 4px;
}
.rgbma{
    position: relative;
    top: -1px;
    border-style: solid dashed dashed;
    border-color: transparent;
    border-bottom-color: #fff;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    border-width: 0 12px 12px;
    padding-top: 1px;
    left: 4px;
}
#MenuQuickBar li:first-child{
    margin-top:-8px;
    padding-right:21px;
    text-align:right;
    background:none;
    border:none;
}
#MenuQuickBar li:nth-child(2){
    margin-top:-12px;
    border-top:1px solid #BEBEBE;
}
#MenuQuickBar li{
    background:#fff;
    padding:4px 0 4px 9px;
    border-right:1px solid #BEBEBE;
    border-left:1px solid #BEBEBE;
}
#MenuQuickBar li:last-child{
    border-bottom:1px solid #BEBEBE;
}


/* Content */
#Content {
    position:relative;
    padding:15px;
    width:1000px;
    margin:0 auto;
}
#Content h1 {
    color:#08C;
    font: 25px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
    line-height: 35px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
    font-weight:bold;
}
#content-header{
    width:970px;
    height:34px;
    padding:0 15px 0 15px;
    border:1px solid #eaeaea;
    border-bottom:1px solid #cacaca;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fafafa; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fafafa 0%, #e4e4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e4e4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fafafa 0%,#e4e4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fafafa 0%,#e4e4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fafafa 0%,#e4e4e4 100%); /* IE10+ */
    background: linear-gradient(top,  #fafafa 0%,#e4e4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-8 */
}
#content-header > div, #content-header > span{
    font-weight:bold;
    display: block;
    height: 34px;
    line-height: 35px;
    font-size: 13px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
}
#content_display{
    visibility:hidden;
}
#btn {
    background:#999999;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    height:16px;
    line-height:0px;
    padding:3px 10px 4px 8px;
    margin:6px 10px 0 0;
    text-shadow: 0 0 0;
    }
#btn a{
    color:#fff;
    margin:0px;
    text-decoration:none;
    font-weight:bold;
}
.errormsg{
    margin:10px 0 10px 0;
    font-size:14px;
}


/* Tables */
td{
    vertical-align:top;
}
#dashboardTable{
    
}
#dashboardTable table td{
    width:200px;
}

#zebraTable{
    border-spacing:0;
    border:1px solid #CCC;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width:100%;
    -webkit-box-shadow: 0 0px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,.2);
	box-shadow: 0 0px 4px rgba(0,0,0,.2);
}
#zebraTable thead, #zebraTable thead td, #zebraTable tfoot, #zebraTable tfoot td{
    border:0px;
    height:34px;
    text-align:left;
    vertical-align:middle;
    font-weight:bold;
    line-height: 30px;
    font-size: 12px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
    
}
#zebraTable thead tr, #zebraTable tfoot tr{
    height:34px;
}
#zebraTable thead th{
    border-bottom:1px solid #DFDFDF;
}
#zebraTable tbody tr{
    height:40px;
}
#zebraTable thead{
    background:#ECECEC;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#ECECEC);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#ECECEC)";
}
#zebraTable tfoot{
    background:#ECECEC;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#ECECEC), to(#F9F9F9));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #ECECEC, #F9F9F9);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ECECEC, endColorstr=#F9F9F9);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ECECEC, endColorstr=#F9F9F9)";
}
#zebraTable tbody td:first-child, #zebraTable thead th:first-child, #zebraTable tfoot td:first-child{
    padding-left:15px;
}
#zebraTable tbody td{
    vertical-align:middle;
    border-bottom:1px solid #DFDFDF;
}
#zebraTable tbody td a{
    font-weight:bold;
    text-decoration:none;
}
#zebraTable tbody tr{
    background:#fff;
    cursor:pointer;
}
#zebraTable tbody .alt{
    background:#FCFCFC;
}
#zebraTable tbody tr:hover{
    background:#F3F6FA;
    font-weight:bold;
}


/* Pagination */
.paginate {
	font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}

a.paginate {
	font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
	border-left: 1px solid #DEDEDE;
	padding: 1px 6px;
	color: #005fad;
}
a.paginate:last-child{
    border-right: 1px solid #DEDEDE;
}

a.current {
    border-left: 1px solid #DEDEDE;
	font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
	padding: 2px 6px 2px 6px;
	cursor: default;
	color: #000;
	font-weight:700;
	text-decoration: none;
}
a.current:last-child{
    border-right: 1px solid #DEDEDE;
}

span.inactive {
	font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
	padding: 1px 6px;
	color: #005fad;
	cursor: default;
}


/* valid8 */
.w.error{
    background-color: #EFD8D7;
    padding:4px 4px 0 5px;
    margin:0 0 0 -5px;
}


/* Forms */
input{
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}
select{
    font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
}
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px 'Lucida Grande', Tahoma, Verdana, Sans-Serif;
	font-weight:bold;
	padding: .2em 10px .2em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .8em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
/* blue */
.blue {
	color: #fff;
	border: solid 1px #2972a5;
	background: #4da2e5;
	background: -webkit-gradient(linear, left top, left bottom, from(#4da2e5), to(#2f76cb));
	background: -moz-linear-gradient(top,  #4da2e5,  #2f76cb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4da2e5', endColorstr='#2f76cb');
}
.blue:hover {
	background: #3c9be3;
	background: -webkit-gradient(linear, left top, left bottom, from(#3c9be3), to(#1869cc));
	background: -moz-linear-gradient(top,  #3c9be3,  #1869cc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c9be3', endColorstr='#1869cc');
}
.blue:active {
	color: #fff;
	background: #358dd3;
	background: -webkit-gradient(linear, left top, left bottom, from(#358dd3), to(#145db9));
	background: -moz-linear-gradient(top,  #358dd3,  #145db9);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#358dd3', endColorstr='#145db9');
}
/* darkblue */
.darkblue {
	color: #fff;
	border: solid 1px #284261;
	background: #3C5C7A;
	background: -webkit-gradient(linear, left top, left bottom, from(#607E98), to(#1D3353));
	background: -moz-linear-gradient(top,  #607E98,  #1D3353);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#607E98', endColorstr='#1D3353');
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.darkblue:active {
	position: relative;
	top: 0px;
}


/* 
   Plupload
------------------------------------------------------------------- */

.plupload_button {
	display: -moz-inline-box; /* FF < 3*/
	display: inline-block;
	font: normal 12px sans-serif;
	text-decoration: none;
    color: #42454a;
    border: 1px solid #bababa;
    padding: 2px 8px 3px 20px;
	margin-right: 4px;
    /* background: #f3f3f3 url('resources/img/plupload/buttons.png') no-repeat 0 center; */
	outline: 0;

    /* Optional rounded corners for browsers that support it */
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.plupload_button:hover {
	color: #000;
	text-decoration: none;
}

.plupload_disabled, a.plupload_disabled:hover {
    color: #737373;
    border-color: #c5c5c5;
    /* background: #ededed url('resources/img/plupload/buttons-disabled.png') no-repeat 0 center; */
	cursor: default;
}

.plupload_add {
	background-position: -181px center;
}

.plupload_wrapper {
	font: normal 11px Verdana,sans-serif;
	width: 100%;
}

.plupload_container {
	padding: 8px;
	/* background: url('resources/img/plupload/transp50.png'); */
	/*-moz-border-radius: 5px;*/
}

.plupload_container input {
	border: 1px solid #DDD;
	font: normal 11px Verdana,sans-serif;
	width: 98%;
}

.plupload_header {}
.plupload_header_content {
	color: #000;
	margin-bottom:10px;
}
.plupload_header_title {
	font: normal 18px sans-serif;
	padding: 6px 0 3px;
}
.plupload_header_text {
	font: normal 12px sans-serif;
}

.plupload_filelist {
	margin: 0;
	padding: 0;
	list-style: none;
}

.plupload_scroll .plupload_filelist {
	height: 185px;
	background: #F5F5F5;
	overflow-y: scroll;
}

.plupload_filelist li {
	padding: 10px 8px;
	/* background: #F5F5F5 url('resources/img/plupload/backgrounds.gif') repeat-x 0 -156px; */
	border-bottom: 1px solid #DDD;
}

.plupload_filelist_header, .plupload_filelist_footer {
	background: #DFDFDF;
	padding: 8px 8px;
	color: #42454A;
}
.plupload_filelist_header {	
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #CDCDCD;
}

.plupload_filelist_footer {border-top: 1px solid #FFF; height: 22px; line-height: 20px; vertical-align: middle;}
.plupload_file_name {float: left; overflow: hidden}
.plupload_file_status {color: #777;}
.plupload_file_status span {color: #42454A;}
.plupload_file_size, .plupload_file_status, .plupload_progress {
	float: right;
	width: 80px;
}
.plupload_file_size, .plupload_file_status, .plupload_file_action {text-align: right;}

.plupload_filelist .plupload_file_name {width: 205px}

.plupload_file_action {
	float: right;
	width: 16px;
	height: 16px;
	margin-left: 15px;
}

.plupload_file_action * {
	display: none;
	width: 16px;
	height: 16px;
}

li.plupload_uploading {/* background: #ECF3DC url('resources/img/plupload/backgrounds.gif') repeat-x 0 -238px; */}
li.plupload_done {color:#AAA}

li.plupload_delete a {
	/* background: url('resources/img/plupload/delete.gif'); */
}

li.plupload_failed a {
	/* background: url('resources/img/plupload/error.gif'); */
	cursor: default;
}

li.plupload_done a {
	/* background: url('resources/img/plupload/done.gif'); */
	cursor: default;
}

.plupload_progress, .plupload_upload_status {
	display: none;
}

.plupload_progress_container {
	margin-top: 3px;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 1px;
}
.plupload_progress_bar {
	width: 0px;
	height: 7px;
	background: #CDEB8B;
}

.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action {
	margin-right: 17px;
}

/* Floats */

.plupload_clear,.plupload_clearer {clear: both;}
.plupload_clearer, .plupload_progress_bar {
	display: block;
	font-size: 0;
	line-height: 0;	
}

li.plupload_droptext {
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border: 0;
	line-height: 165px;
}


/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('resources/img/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('resources/img/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('resources/img/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('resources/img/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('resources/img/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('resources/img/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('resources/img/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('resources/img/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('resources/img/fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('resources/img/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('resources/img/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('resources/img/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('resources/img/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('resources/img/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding: 0 0 0 15px;
	background: url('resources/img/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding: 0 0 3px 0;
	background: url('resources/img/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding: 0 0 0 15px;
	background: url('resources/img/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/img/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }


/* CLEditor */
.cleditorMain {border:1px solid #999; padding:0 1px 1px; background-color:white}
.cleditorMain iframe {border:none; margin:0; padding:0}
.cleditorMain textarea {border:none; margin:0; padding:0; overflow-y:scroll; font:10pt Arial,Verdana; resize:none; outline:none /* webkit grip focus */}
.cleditorToolbar {background: url('resources/img/CLEditor/toolbar.gif') repeat}
.cleditorGroup {float:left; height:26px}
.cleditorButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('resources/img/CLEditor/buttons.gif')}
.cleditorDisabled {opacity:0.3; filter:alpha(opacity=30)}
.cleditorDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#CCC}
.cleditorPopup {border:solid 1px #999; background-color:white; position:absolute; font:10pt Arial,Verdana; cursor:default; z-index:10000}
.cleditorList div {padding:2px 4px 2px 4px}
.cleditorList p,
.cleditorList h1,
.cleditorList h2,
.cleditorList h3,
.cleditorList h4,
.cleditorList h5,
.cleditorList h6,
.cleditorList font {padding:0; margin:0; background-color:Transparent}
.cleditorColor {width:150px; padding:1px 0 0 1px}
.cleditorColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
.cleditorPrompt {background-color:#F6F7F9; padding:4px; font-size:8.5pt}
.cleditorPrompt input,
.cleditorPrompt textarea {font:8.5pt Arial,Verdana;}
.cleditorMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size:8.5pt}
